<h2 class="page-header">About me</h2>

<div class="card">
  <p>
    I’m Zack, a software engineer from Orlando, Florida. I currently
    work at IZEA
    <a href="http://corp.izea.com/company/careers/" target="_blank">
      (We're looking for engineers!)
    </a>
    as a frontend developer. Here, I build and maintain our platform, train new
    engineers, and work to build a set of standards for use in our design and
    development processes.
  </p>
  <p>
    I believe in software development as a craft, and seek to produce code that not only
    works, but is also elegant and easily maintainable.
  </p>
  <p>
    I'm primarily a frontend developer, but have no issue adapting to whatever requirements
    a job may have of me. I'm always open to new work and new challenges.
    {{#link-to 'contact'}}Contact me{{/link-to}}, and let's get started.
  </p>
</div>
