<h2 class="page-header">Sign In</h2>

<form {{action 'authenticate' on='submit'}}>
  <div class="field-container">
    <label>Email</label>
    {{input value=identification}}
  </div>
  <div class="field-container">
    <label>Password</label>
    {{input value=password}}
  </div>
  <button type="submit">Sign in</button>
</form>
