<article class="contact-page">
  <header>
    <h2 class="page-header">Get in touch</h2>
  </header>

  <div class="card">
    <p>
      <strong>I'm currently available for freelance work!</strong> Get in touch
      using any of the methods below.
    </p>
    <ul class="contact-list">
      <li>
        {{fa-icon 'phone'}}
        321.338.5316
      </li>
      <li>
        {{fa-icon 'envelope'}}
        <a href="mailto:zack.moore89@gmail.com">zack.moore89@gmail.com</a>
      </li>
      <li>
        {{fa-icon 'linkedin'}}
        <a href="https://www.linkedin.com/in/zachary-moore-0a571b79" target="_blank">
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</article>
