.card {
  @include shadow;

  background-color: $light_bg_color;
  border-radius: $radius_standard;
  padding: $spacing_large $spacing_xl;
}

.bar-card {
  @extend .card;

  padding: 0;

  .bar-card-bar {
    background-color: $dark_bg_color;
    color: $light_text_color;
    padding: $spacing_large $spacing_xl;
  }
  .bar-card-body {
    padding: $spacing_large $spacing_xl;
  }
}
