<div class="google-analytics-metrics">
  Google Analytics
</div>

<div class="tabs-container">
  <ul class="tabs-list">
    <li class="tab-item">
      {{#link-to 'admin.index.invalidated-tokens'}}
        Invalidated Tokens
      {{/link-to}}
    </li>
  </ul>
  <div class="tab-contents">
    {{outlet}}
  </div>
</div>
