<header class="layout-header">
  <div class="header-content-container">
    <img src="images/avatar.png" class="avatar" />
    <div class="hero-text">
      <h1 class="introduction">Hello, I'm Zack.</h1>
      <p class="description">
        I'm a software engineer at <a href="http://corp.izea.com" class="strong" target="_blank">IZEA</a> and a JavaScript enthusiast.
      </p>
    </div>
  </div>
</header>
<nav class="layout-nav">
  <div class="layout-content-container">
    <ul class="navigation-list">
      <li class="navigation-item">
        {{#link-to 'public.index' class='navigation-link'}}Posts{{/link-to}}
      </li>
      <li class="navigation-item">
        {{#link-to 'public.about' class='navigation-link'}}About{{/link-to}}
      </li>
      <li class="navigation-item">
        <a href="http://www.github.com/zamoore" target="_blank" class="navigation-link">
          {{fa-icon 'github'}}
          <span>Github</span>
        </a>
      </li>
      <li class="navigation-item">
        <a href="documents/ZMOORE.pdf" class="navigation-link" download>
          {{fa-icon 'download'}}
          <span>Résumé</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="layout-content-container">
  {{outlet}}
</div>

<footer class="footer">
  <div class="layout-content-container">
    <p>&copy; {{moment-format (now) 'YYYY'}} - Zack Moore</p>
  </div>
</footer>
