<section class="posts-page">
  <h2 class="page-header">Posts</h2>

  <div class="bar-card">
    <div class="bar-card-body">
      <ul class="posts-list">
        {{#each model as |post|}}
          {{post-item post=post}}
        {{/each}}
      </ul>
    </div>
    {{#if (gt model.meta.total 10)}}
      {{pagination-bar
        total=model.meta.total
        currentPage=page
        perPage=perPage
        onPageChange=(action 'changePage')}}
    {{/if}}
  </div>
</section>
