.about-page {

  .contact-list {
    border-bottom: 1px solid $lines_gray;
    display: flex;
    margin-bottom: $spacing_large;
    padding-bottom: $spacing_large;

    li {
      flex-grow: 1;
      text-align: center;

      &:last-of-type {
        margin-right: 0;
      }
    }
    i {
      margin-right: $spacing_tiny;
    }
  }
  .about-me-copy {


  }
}
