.about-page {

  .contact-list {
    display: flex;

    li {
      flex-grow: 1;
      text-align: center;
    }
    a {
      color: inherit;
    }
    i {
      margin-right: $spacing_tiny;
    }
  }
}
