// Layout variables
$header_height: 180px;
$header_content_width: 670px;
$header_content_height: 100px;

$nav_height: 50px;
$nav_font_size: $font_book;

$container_width: 800px;

// Global
.layout-content-container {
  margin: 0 auto;
  max-width: $container_width;
  padding: 0 $spacing_large;
}

// Header
.layout-header {
  background-color: $primary_color;
  height: $header_height;
  padding: #{($header_height - $header_content_height) / 2} $spacing_large;

  .header-content-container {
    @include clearfix;

    height: $header_content_height;
    width: $header_content_width;
    margin: 0 auto;
  }
  .avatar {
    border-radius: 50%;
    float: left;
    height: $header_content_height;
    margin-right: $spacing_standard;
  }
  .hero-text {
    @include vertical-align;

    .introduction {
      margin-bottom: $spacing_small;
    }
  }

  @media screen and (max-width: 680px) {
    .header-content-container {
      width: auto;
    }

    .avatar {
      display: block;
      float: none;
      margin: 0 auto;
    }

    .hero-text {
      display: none;
    }
  }
}

// Navigation
.layout-nav {
  background-color: $dark_bg_color;
  height: $nav_height;
  margin-bottom: $spacing_large;

  .navigation-item {
    float: left;
    width: 25%;
  }
  .navigation-link {
    color: $light_text_color;
    display: block;
    font-size: $nav_font_size;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    padding: #{($nav_height - $nav_font_size) / 2} $spacing_large;

    &:hover,
    &.active {
      color: $secondary_color;
    }
  }

  @media screen and (max-width: 680px) {
    height: auto;

    .navigation-item {
      float: none;
      width: 100%;
    }
  }
}

// Footer
.footer {
  color: $secondary_text_color;
  font-size: $font_small;
  margin: $spacing_xl 0;
  text-align: center;
}
